target
editors/code/server/p2ce-vscript-ls.exe
editors/code/vscript_lib/builtins.nut
editors/code/vscript_lib/squirrel.nut
editors/code/vscript_lib/vscript.nut
gen/vscript(edited).nut
gen/vscript(tf2).nut
node_modules/.package-lock.json
node_modules/.bin/esbuild
node_modules/.bin/esbuild.cmd
node_modules/.bin/esbuild.ps1
node_modules/@esbuild/win32-x64/esbuild.exe
node_modules/@esbuild/win32-x64/package.json
node_modules/@esbuild/win32-x64/README.md
node_modules/esbuild/install.js
node_modules/esbuild/LICENSE.md
node_modules/esbuild/package.json
node_modules/esbuild/README.md
node_modules/esbuild/bin/esbuild
node_modules/esbuild/lib/main.d.ts
node_modules/esbuild/lib/main.js
gen/classnames_to_classes.txt
gen/classnames.txt
gen/entities_p2ce.json
gen/vscript_docs.server.json
gen/vscript.nut
_old/classnames.py
_old/vscript.py
logo.af
logo.af~lock~
